@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html * {
   font-family: 'Ubuntu';
}

body {
    background-color: black;
}
.container {
    padding: 0 230px;
}
.body-main {
    background-image : url('images/background-sea.jpg');
    background-size: cover;
}
.body-main2 {
    background-color: #49b7d1;
}
.body-contact {
    background-color: white;
}
.contact-deco-line {
    top: -36px;
    transform: rotate(29deg);
    -webkit-transform-origin-x: left;
    width: 770px;
    height: 8px;
    background-color: #49b7d1;
    position: absolute;
}
.body-contact h1 {
    margin-top: 180px;
    -webkit-text-stroke: 2px #000000;
    font-size: 130px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: 0.7px;
    text-align: left;
}
.body-contact p {
    font-size: 58px;
    color: black !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.16;
    letter-spacing: normal;
}
.contact-mail a, .contact-mail a:hover {
    font-size: 47px;
    color: black;
    font-weight: normal !important;
}
.contact-link {
    height: 46px;
    margin-right : 20px;
}
.description {
    position: absolute;
    right: 39px;
    font-size: 20px !important;
    display: block;
    margin: 37px;
}

h1, h2, h3, h4, h5, h6, p, span {
    color: white;
}
a {
    text-decoration: none;
}
a:hover{
    color: #fff;
}

nav {
    width: 100%;
    position: fixed;
    height: 140px;
    z-index: 999;
    top: 0;
    display: block;
}

.js-open-right-slidebar img {
    width: 64px;
    position: absolute;
    top: 57px;
    right: 76px;
}

.logo img {
    position: relative;
    width: 160px;
    left: 38px;
    top: 57px;
}

.about-banner {
    padding: 200px 0 360px;
}
.about-banner img {
    width: 687px;
    margin-left: 232px;
    display: block;
}
.about-banner2 {
    padding: 150px 0 130px;
}
.about-banner2 img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.deco-line {
    z-index: -1;
    width: 97%;
    position: fixed;
    top: 0;
    transform: rotate(20deg);
    -webkit-transform-origin-x: left;
}
.works {
    margin-top: 186px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.folio {
    display: inline-block;
    width: 427px;
}

[canvas=container]{
    /* padding : 10px 30px; */
}
[off-canvas] {
    padding: 254px 111px 20px;
}

[class*=js-] {
    cursor: pointer;
}

